# Variables & Types de données en Python

# A- Variables

In [1]:
# Attribuer une valeur à une variable

x = 20
y = "Novembre"
z = 18.9

In [4]:
# Attributions multiples
a, b, c = 20, "Novembre", 2019
print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  20
b:  Novembre
c:  2019

# B- Type de données : Numbers, Booleans, String, List, Tuple, Set, Dict

## Les nombres : Numbers

Ces éléments sont de trois types en python:
* les entiers : **int**
* les flottant : **float**
* les complexes : **complex**  

On peut déterminer le type via l'instruction **type**

In [5]:
a = 5.6      
print(type(a))

<class 'float'>

In [6]:
c = 1 + 2j                         
print(type(c))

<class 'complex'>

In [7]:
b = 45
print(type(b))

<class 'int'>

## Les Booléens: Boolean

 Les booléens ne prennent que deux types : Vrai ou Faux ==> True / False

In [8]:
a = True                    

# Type de a ?
print(type(a))

<class 'bool'>

In [9]:
b = False 
print(type(b))

<class 'bool'>

## Les chaines de caractères: String

Une chaîne de caractères en Python se compose d'une séquence de caractères - lettres, chiffres et caractères spéciaux.

In [12]:
chaine = "Ceci est un tuto sur les variables et types de données"

# Affichage de la chaine
print(chaine)

Ceci est un tuto sur les variables et types de données

In [14]:
# Accès au premier caractère. 
#print(chaine[0])


# Accès au dernier caractère
print(chaine[-1])

s

In [15]:
# Accès à une sous partie 
print(chaine[3:])

i est un tuto sur les variables et types de données

In [16]:
print(chaine[3:8])

i est

## Les Listes   
Les éléments d'une liste sont modifiable(mutables). Elles peuvent contenir différents types de données. Les listes sont définis avec les crochets **[ ]**

In [22]:
l = [10, 20.5, 1, "Salut"]
print(l[-1])

Salut

In [25]:
# Modifier ma liste
l[0] = 20
l[-1] = "Hello"
print(l)

[20, 20.5, 1, 'Hello']

## Les Tuples

Les tuples en python sont des listes non modifiables. Ils sont définis entre parenthèse **( )**

In [27]:
t = (15, 8.5, "Tuple")

In [32]:
# Accès à un élément
t[0]

15

In [33]:
# Tentative de modification
t[0] = 20

TypeError: 'tuple' object does not support item assignment

## Les ensembles : Set

Les Set sont des collection non ordonnées d'objets uniques, et sont définis entre accolades **{ }**. Pas d'opération d'ordre possible

In [35]:
set1 = {2, 4, 5, 6, 6, 5, 2}  
set1

# Déterminer les valeurs uniques
l = [1,2,2,5,5,5,8,"hello", "hello", "hello"]
print(set(l))

{1, 2, 5, 8, 'hello'}

In [42]:
# Impossible d'afficher un élément de l'ensemble

## Les dictionnaires

Une séquence de paire clé-valeur

En Python, les dictionnaires sont définis entre accolades **{ }**, chaque élément étant une paire sous la forme **clé:valeur**. La clé et la valeur peuvent être de n'importe quel type.

In [39]:
info_zoum = {'prenom': "Zoum", 'pays': "Cote d'Ivoire", 'taille': 1.83, 'code_postal':75001, 'sex':'Masculin'}
print(info_zoum)

{'prenom': 'Zoum', 'pays': "Cote d'Ivoire", 'taille': 1.83, 'code_postal': 75001, 'sex': 'Masculin'}

In [40]:
info_zoum['taille']
print(info_zoum['pays'])
print(info_zoum['sex'])

Cote d'Ivoire
Masculin

# Conversion entre types de données

Il est possible de convertir entre différents types de données en utilisant différentes fonctions de conversion comme int(), float(), float(), str() etc.

In [41]:
# convertir entier en flottant
b = 15
print(float(b))

15.0

In [42]:
# convertir flottant en entier
c = 15.8
print(int(c))

15

In [44]:
# convertir entier en chaine de caractère
x = 78
z = str(x)
print(z)
print(type(z))

78
<class 'str'>

In [47]:
# convertir  chaine de caractère en entier
c = '2019'
i = int(c)
print(type(c))
print(i)
print(type(i))

<class 'str'>
2019
<class 'int'>

In [49]:
# Cas d'échec de conversion
c = '2019'
d = int(c)

In [54]:
# Exemple de concaténation
prenom = 'Zoum'
somme = 20000000

phrase = 'Bonjour '+prenom+' vous avez gagné '+str(somme)
print(phrase)

Bonjour Zoum vous avez gagné 20000000

Aussi possible de convertir un séquence à une autre

In [55]:
l = [1, 2, 3, 3]

# Conversion en type Set
ma_set = set(l)
print(ma_set)

{1, 2, 3}

In [57]:
# Converstir une chaine de caractère en liste
chaine = "Merci pour cette video"
ma_liste = list(chaine)
print(ma_liste)

['M', 'e', 'r', 'c', 'i', ' ', 'p', 'o', 'u', 'r', ' ', 'c', 'e', 't', 't', 'e', ' ', 'v', 'i', 'd', 'e', 'o']